<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>All about movies</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a href='/' class="navbar-brand">Home</a>
      <li><a href="/movie" class="navbar-brand">Movies</a></li>
      <li><a href="/reviews" class="navbar-brand">Reviews</a></li>
      <li><a href="/director" class="navbar-brand">Directors</a></li>
      <li><a href="/actor" class="navbar-brand">Actors</a></li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% block body %}
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="" class="form-inline">
        <div class="form-group">{{render_field(form.title, class_="form-control")}}</div>
        <input type="submit" class="btn btn-primary" value="Search">
        </form>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if session.logged_in %}
          <li><a href="/dashboard" class="navbar-brand">{{session.username}}</a></li>
          <li><a href="/logout" class="navbar-brand">Log out</a></li>
        </li>
        {% else %}
        <li><a href="/register" class="navbar-brand">Sign up</a></li>
        <li><a href="/login" class="navbar-brand">Sign in</a></li>
        {% endif %}
      </ul>
    </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Actors</h1>
        {% if session.logged_in != NULL %}
        <a href="/add_actor" class="btn btn-primary btn-xl rounded-pill mt-5"> Add Actor</a>
        {% else %}
        <a href="/login" class="btn btn-primary btn-xl rounded-pill mt-5">Log in to add an actor</a>
        {% endif %}
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
  </header>

  <br>
  <section>
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-6 order-lg-2"> -->

        {% for row in rows %}
        <input type="hidden" name="actor_id" value = "{{row[0]}}">
        {% endfor %}

        <table class="table table-striped">
            <tr>
            <th>Actors</th>
            <th></th>
            <th></th>
            </tr>
            {% for row in rows %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td><a href="actor/id={{row[0]}}" class="btn btn-default pull-right">View</a></td>
                <td>
                  <form action="del_act" method="POST" class="btn btn-default pull-right">
                  <input type="hidden" name="act" value={{row[0]}}>
                  <input type="submit" value="X"/>
                  </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
        <!-- </div> -->
     </div>
   </div>
  </section>



  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; OSU CS340 GROUP 12</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
