{% extends 'layout.html' %}

{% block body %}
  <h1>Add an actor who worked with this person</h1>
  {% if session.logged_in != NULL %}
  <a class="btn btn-success" href="/add_dir_act/{{id}}"> Add Actor</a>
  {% else %}
  <a class="btn btn-success" href="/login">Log in to add a Actor</a>
  {% endif %}
  <hr>
  
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.fname, class_="form-control") }}
    </div>
    <div class="form-group">
      {{render_field(form.lname, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
